.button {
    color: aliceblue;
    background-color: rgb(163, 127, 255); 
}
.div1{
    display: flex;
    padding: 20px;
    margin: 20px;
    
}
.a{
  font-size: 17px;
  background-color: greenyellow;
  border-style: solid;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  padding: 5px;
  margin: 10px;
    
}
.b{
    font-size: 17px;background-color: rgb(203, 95, 95);border-style: solid;border-radius: 5px;width: 150px;height: 30px;padding: 5px;margin: 10px; 
}